
@media only screen and (min-width: 1200px){
.DashCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    max-width: 400px;
    width:25%;
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
    height:500px;
    background:rgba(0, 0, 0, 0.534);
    color: white
}
h4{
    font-size:3em;
}
}
@media only screen and (max-width: 1199px){
    .DashCard{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 0.3s;
        width:80%;
        height:200px;
        margin-bottom: .5em;
        background:rgba(0, 0, 0, 0.534);
        min-width: 250px;
        color: white
    }
    h4{
        font-size:2em;
    }
}

.DashCard:last-child {
    margin-bottom: 3em;
}

.DashCard > span {
    margin-bottom: 2em;
}
